<a href="https://colab.research.google.com/github/akashsinghsharma/sql-notes/blob/main/SQL_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Important and common SQL Questions in Interviews**
***

1. What is SQL?

SQL stands for structured query language. It is used to interact with databases, like creating table to
columns, inserting rows to pulling different records with different conditions, executing queries etc.

2. What is a database?

A collection of data in an organized manner and can be accessed in various ways. It is also the collection
of schemas, tables, queries, views, etc. Databases help us with easily storing, accessing, and
manipulating data held on a computer

3. Does SQL support programming language features?

SQL helps us in manipulating data in database. We can query, update, delete, create data in database but
we can't program anything as it lacks conditional statements, etc. if else statement. This it is a command
language not a programming language.

4. What are the differences between SQL and PL/SQL?

SQL is a query or command language, PL/SQL is a programming language. SQL is used to query data
while later is used to create application. SQL tells database what do do while later tells how to do it. We
can run multiple block of statements in PL / SQL but we can't do the same in SQL.

5. What is the difference between BETWEEN and IN operators in SQL?

Between is used to check in between some range, like say BETWEEN 20 AND 30, which means anything
in between 20 and 30.
IN operator will check for me the exact values in a list.

6. Write an SQL query to find the names of employees starting with ‘A’.
```
SELECT * FROM Employees
WHERE EmpName LIKE 'A%'
```

7. What is the difference between CHAR and VARCHAR2 datatype in SQL?

Char will be use to store character of fixed length. For eg say char(3) will store nothing other
than length 3.
Varchar2(8) can store anything like 5,6,7,8, or anything below.

8. Name different types of case manipulation functions available in SQL.

There is upper for upper case, lower for lower case and there is initcap for first ad capital and
rest as lower case in a string

9. What do you mean by data definition language?

Things like create, drop, alter, etc. Helps us in defining the data. Any function which helps in
defining the data is called ddl or data definition language.

10. What do you mean by data manipulation language?

DML is used to access or manipulate data in database.
Examples are insert, delete, update data or fetching data from database.
- Note: Alter is used to alter, delete, add the attribute of relations (tables) in database.
- Update is used to update existing rows or records in database.
- DROP command in SQL removes the table form the database, DELETE command
removes one or more records from the table, and TRUNCATE command removes all the
rows from the existing table.

![image.png]()

(source: https://www.c-sharpcorner.com/article/sql-commands-ddl-dql-dml-dcl-tcl-with-examples/)

11. What is a join in SQL? What are the types of joins?

It is used to query data from multiple tables.

inner join - will give back result from both the table for matching records in table.
outer join - will give back all the records from both table and put null where columns for some records are unavailable.
right - gives back all records from right and matching from left.
left - gives back all records of left and matching from right.

12. How to Join more than 2 tables in sql join.

`SELECT *`

`FROM Table1`

`INNER JOIN Table2 ON Table1.CommonID1 = Table2.CommonID1`

`INNER JOIN Table3 ON Table2.CommonID2 = Table3.CommonID2`

`INNER JOIN Table4 ON Table3.CommonID3 = Table4.CommonID3;`

13. Explain SQL constraints?

NOT NULL - Restricts NULL value from being inserted into a column.

CHECK - Verifies that all values in a field satisfy a condition.

DEFAULT - Automatically assigns a default value if no value has been specified for the field.

UNIQUE - Ensures unique values to be inserted into the field.

INDEX - Indexes a field providing faster retrieval of records.

PRIMARY KEY - Uniquely identifies each record in a table.

FOREIGN KEY - Ensures referential integrity for a record in another table.

```
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,   -- PRIMARY KEY constraint
    FirstName VARCHAR(50) NOT NULL,   -- NOT NULL constraint
    LastName VARCHAR(50) NOT NULL,    -- NOT NULL constraint
    Email VARCHAR(100) UNIQUE,   -- UNIQUE constraint
    Age INT CHECK (Age >= 18),   -- CHECK constraint
    DepartmentID INT,   -- This will be a FOREIGN KEY constraint
    HireDate DATE DEFAULT CURRENT_DATE,   -- DEFAULT constraint
    INDEX (LastName),   -- INDEX constraint
    FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)   -- FOREIGN KEY constraint
);
```

14. What is a primary key, a foreign key, and a unique key.

Primary key - unique, not null, indexed, immutable (can't be changed once assigned). It uniquily identifies each rows.

Foreign key - establish reference to another table, can be null.

Unique key - it is unique but can be null. Often indexed.

EG: Employee id is primary key, govt id is unique key, department code is foreign key.

15. What is a trigger?


In SQL, a trigger is a database object that automatically performs an action (or a set of actions) in response to a specific event, such as an INSERT, UPDATE, DELETE, DDL or some other database operation. Triggers are used to enforce data integrity rules, log changes, or automate certain tasks within a database.

16. What is the view in SQL?

Views in SQL are kind of virtual tables. A view also has rows and columns as they are in a real table in the database. We can create a view by selecting fields from one or more tables present in the database. A View can either have all the rows of a table or specific rows based on certain condition.

Reasons to use

- Restricting data access.

- Hiding data complexity

- Simplify complex queries

- Simplify command for users.

- Different views from same table can be created.

- Renaming columns in view, without affecting the base table.

(Read more : https://www.geeksforgeeks.org/sql-views/)

17. What is an index?

18. What are table and Field?

Tbale is combo of rows and columns. Rows are called records and columns are called field.

It can also be defined as (field) is a single piece of information from a row.

19. What is a Default constraint?

It is a constraint in SQL column which is used to fill the column with a default and fixed value if no value is passed.

20. What is the On Delete cascade constraint?

It is a constraint in mysql to delete the rows from child table if rows from parent table are deleted.

(Read more: https://www.geeksforgeeks.org/mysql-on-delete-cascade-constraint/)

21. What is database in SQL?

Database is a collection of highly structured tables in SQL. Wherein each rows reflects a data point or data entity and each column represents a specific information field.

22. What is a relational database?

A relational database is a type of database that stores and provides access to datapoints that are related to each other. RDMs have ability to establise links / relationship between informations by joining tables.

Note that rows are also called tuple and columns are called fields or field attributes.

Q. How do you structure a database.

Ans:

1. Determine the purpose.

2. Find and organize the information.

3. turn different information items into relevant columns.

4. Make primary keys, foreign keys and table relationship.

5. Refine design and normilization rules.

Q. Difference between WHERE and HAVING ?

Ans:

While is simply used to filter the records of table or while joining more and more tables. They can be used with select, update and delete statement.

Having clause is used to filter grouped rows in a tble based on certain criteria. It is similar to while but having can be used with aggregrate functions but where clause can't be used like that. It can only be used with select statement.

Where is implemented on row operation, having on column operation.

Note that we can use both where and having in same query, where will come before group by, having after it.

```
select
	count(customer_id) as number_order,
	order_date
FROM sales
GROUP BY order_date
HAVING count(customer_id) > 1;
```
This will return table of counts of orders in a day.